/* INDICATIVO DA PÁGINA ATUAL NA BARRA DE NAVEGAÇÃO NO DESKTOP */
.btn-cadastrar{
    text-shadow: 0 0 10px #f1c764;
}

/* ============================================= */
/* IMAGEM DE PERFIL */
.divFotoPerfil{
    padding-bottom: 15px;
}
#container-preview{
    display: block;
    margin-top: 10px;
    text-align: center;
}
#preview-img{
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    object-fit: cover;
    border: 3px solid #F0AD12;
}
#nomeArquivo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #F0AD12;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}

/* ÍCONE DO CALENDÁRIO */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(60%);
    cursor: pointer;
    transition: filter 0.2s ease; /* Transição suave igual à do olho */
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    filter: invert(71%) sepia(85%) saturate(1005%) hue-rotate(355deg) brightness(97%) contrast(94%);
}

/* BOTÃO DO ENVIO DA IMAGEM */
.botao-upload {
    background-color: #141414;
    border-radius: 5px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
}
.botao-upload:hover {
    background-color: #F0AD12;
    color: #000;
}
#btnAddFoto{
    display: none;
}

/* UTILIDADES */
.link_login {
    color: #F0AD12;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

/* ============================================= */
/* RESPONSIVIDADE PARA O CELULAR */
@media (max-width: 768px) {
    /* INDICATIVO DA PÁGINA ATUAL NA BARRA DE NAVEGAÇÃO NO MOBILE */
    .btn-cadastrar{
        display: block;
        max-width: 100%;
        border-bottom: 0;
        border-radius: 0;
        text-shadow: none !important;
        background-color: rgb(114, 23, 23);
    }

    /* ============================================= */
    /* LOCAL DA LOGO */
    main {
        width: 90%;
        padding: 20px;
    }
    .Local_logo {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .Tamanho_Logo, .Tamanho_Caixas_TXT {
        flex: 1 1 100%;
        width: 100%;
    }

    /* ============================================= */
    /* FOTO DE PERFIL */
    .divFotoPerfil h4{
        font-size: 25px;
    }
    #preview-img{
        width: 250px;
        height: 250px;
        border: 5px solid #F0AD12;
    }
    #nomeArquivo{    
        flex-wrap: wrap;
        font-size: 25px;
    }
    .botao-upload, .btn-login {
        font-size: 25px;
        padding: 20px !important;
    }

    /* ============================================= */
    /* CAIXAS DE TEXTO (input) */
    .login_senha_caixas input {
        font-size: 30px;
        margin-bottom: 10px;
        height: 80px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        width: 30px;
        height: 30px;
    }


    #erroSenha{
        font-size: 20px;
    }

    /* UTILIDADES */
    .link_login {
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
    }
}