.banner-detalhe {
    height: 350px;
    width: 100%;
    max-width: 1200px; /* Define um limite para não ficar largo demais em monitores grandes */
    margin: 20px auto 0; /* O 'auto' nas laterais centraliza o banner horizontalmente */
    
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0; /* Arredonda as bordas superiores */
    position: relative;
}


.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, #000000 100%); /* Gradiente para escurecer a base do banner e fundir com o conteúdo */
}

.detalhes-main {
    padding-bottom: 50px;
    min-height: 400px;
}

.detalhes-wrapper {
    max-width: 1200px; /* Mesma largura do banner */
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding: 0 10% ; /* Ajuste o padding para alinhar com a margem do banner */
}

.poster-filme {
    width: 280px;
    min-width: 280px;
    margin-top: -150px; /* O truque: valor negativo faz a capa subir para o banner */
    position: relative;
    z-index: 10;
}

.poster-filme img {
    width: 100%;
    border-radius: 8px;
    border: 4px solid black;
}

.info-texto {
    padding-top: 30px;
    flex: 1;
}

.titulo-destaque {
    font-size: 50px;
    color: #F0AD12;
    margin-bottom: 15px;
}

.tagline {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 20px;
}

.metadados {
    margin-bottom: 30px;
    font-size: 18px;
    color: #eee;
    font-weight: bold;
}

.sinopse-area h3, .generos-area h3 {
    color: #F0AD12;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    width: fit-content;
}

.sinopse-area p {
    line-height: 1.6;
    font-size: 17px;
    margin-bottom: 30px;
}

.lista-generos {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.lista-generos li {
    background: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.btn-comprar {
    display: inline-block;
    background-color: #F0AD12;
    color: #000;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: transform 0.2s, background 0.2s;
}

.btn-comprar:hover {
    background-color: #d4980e;
    transform: scale(1.05);
}

.btn-comprar.desativado {
    background-color: #333333;
    color: #d4980e;
    cursor: not-allowed; /* Muda o mouse para um símbolo de proibido */
    pointer-events: none; /* Impede que o botão seja clicável de qualquer forma */
    transform: none; /* Tira o efeito de pular ao passar o mouse */
}

@media (max-width: 768px) {
    .detalhes-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .poster-filme {
        margin-top: -100px;
    }
    .lista-generos {
        justify-content: center;
    }
}
