.menu{
    border-bottom: 110px solid black; /* Borda preta abaixo do menu para ser o fundo da barra de pesquisa */
}

.menuEmBreve{
    text-shadow: 0 0 10px #f1c764;
}


.search-box {
    position: sticky; /* Faz o menu grudar no topo ao rolar a página */
    top: 150px; /* Deixa a barra de pesquisa subir até esta posição */
    z-index: 1001; /* Garante que o menu fique sobre os outros elementos */
    margin: 20px;
    display: flex;
    width: 100%;
    max-width: 1090px;
    background-color: #2f3640;
    border-radius: 8px;
    overflow: hidden; /* Garante que o botão não saia da borda arredondada */
    height: 50px; /* Altura da barra de pesquisa */
    margin: -90px auto 40px auto; /* O -90px puxa a barra PARA CIMA, entrando na área da borda preta. */
}

.search-box input {
    flex: 1; /* Faz o input ocupar todo o espaço restante */
    background: transparent;
    border: none;
    outline: none;
    padding: 20px;
    color: #dad9d9;
    font-size: 16px;
}

/* Botão de pesquisa */
.search-box button {
    width: 60px;
    background-color: rgb(150, 28, 28);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0AD12;
    font-size: 25px;
    transition: background 0.3s;
}

.msgErro, .msgErro1 {
    color: rgb(150, 28, 28);
}

.tituloPag {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}

.gradeFilmes {
    display: grid;
    /* Cria colunas automáticas que se ajustam ao tamanho da tela */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 50px; /* Espaçamento entre os cards */
    padding: 40px;
    width: 95%;
    margin: 0 auto;
    justify-items: center; /* Centraliza os cards dentro das colunas */
}


.cardFilme {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease; /* Efeito de zoom suave */
    cursor: pointer;
}

/* Efeito de Zoom ao passar o mouse */
.cardFilme:hover {
    transform: scale(1.05);
}


.posterFilme {
    width: 100%;
    height: 380px; 
    text-decoration: none;
  
    object-fit: cover; 
    object-position: center;
    
    border-radius: 8px; 
    border: 2px solid #333; /* Borda padrão escura */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); 
    transition: border-color 0.3s ease;
}

/* Cor Amarela ao colocar o mouse na imagem */
.cardFilme:hover .posterFilme {
    border-color: #F0AD12; 
}

.tituloFilme {
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    
    /* Tratamento para nomes muito grandes não quebrarem o layout */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: block; /* Garante que o strong se comporte como bloco abaixo da imagem */
}

.titulo-secao {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .menuEmBreve{
        display: block;
        max-width: 100%;
        border-bottom: 0;
        border-radius: 0;
        text-shadow: none !important;
        background-color: rgb(114, 23, 23);
    }
    
}