/* Aqui é o Alinhamento das imagens */
.lista-filmes {
    display: flex;
    gap: 85px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    padding: 27px 0;
    width: 100%;
}

/* Esse card é a padronização das imagens */
.card-filme {
    
    min-width: 250px; 
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease;   /*zoom do card   (:P)  */
}

/*Marelo   (:3)  */
.card-filme:hover {
    transform: scale(1.05);
}

.card-filme img {
    width: 100%;
    height: 380px; 
    
    /* Garantia de que a imagem não achate */
    object-fit: cover; 
    object-position: center;
    
    border-radius: 8px; 
    border: 2px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    transition: border-color 0.3s ease;
}

/* Seleção da cor ao colocar o mouse na imagem */
.card-filme:hover img {
    border-color: #F0AD12; 
}

/* Texto abaixo dos cards    (:P)    */
.card-filme p {
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

