/* Div da barra de pesquisa */
.search-box {
    margin: 20px;
    display: flex;
    width: 100%;
    max-width: 1090px; /* Largura máxima da barra */
    background-color: #2f3640;
    border-radius: 8px;
    overflow: hidden; /* Garante que o botão não saia da borda arredondada */
    height: 50px;
}

.search-box input {
    flex: 1; /* Faz o input ocupar todo o espaço restante */
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px;
    color: #dad9d9;
    font-size: 16px;
}

/* Botão de pesquisa */
.search-box button {
    width: 60px;
    background-color: rgb(150, 28, 28);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.search-box button {
    color: #F0AD12;
    font-size: 25px;
}


/* Container que segura todos os filmes */
.gradeFilmes {
    display: flex;
    flex-wrap: wrap;      /* Permite que os filmes pulem para a linha de baixo */
    gap: 20px;            /* Espaço entre os filmes */
    justify-content: center; 
    padding: 20px;
}

.cardFilme {
    display: flex;
    flex-direction: column; /* Deixa a imagem em cima e título embaixo */
    align-items: center;    /* Centraliza o título com o poster */
    width: 250px;
    cursor: pointer;
}

.posterFilme {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(105, 105, 105, 0.5);
    margin-bottom: 15px;    /* Espaço entre a imagem e o texto */
}

.tituloFilme {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    /* Evita que títulos muito longos quebrem o layout */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}