/* BARRA DE PESQUISA */
/* Div da barra de pesquisa */
.search-box {
    position: sticky;
    top: 150px;
    z-index: 999;
    display: flex;
    width: 100%;
    max-width: 1090px;
    background-color: #2f3640;
    border-radius: 8px;
    overflow: hidden;
    height: 50px;
    margin: -90px auto 40px auto;
}
.search-box input {
    flex: 1; /* Faz o input ocupar todo o espaço restante */
    background: transparent;
    border: none;
    outline: none;
    padding: 20px;
    color: #dad9d9;
    font-size: 16px;
}
/* BOTÃO DE PESQUISA */
.search-box button {
    width: 60px;
    background-color: rgb(150, 28, 28);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0AD12;
    font-size: 25px;
    transition: background 0.3s;
}
.menu{
    border-bottom: 110px solid black; /* Borda preta abaixo do menu para ser o fundo da barra de pesquisa */
}

/* ============================================= */
/* MENSAGENS DE ERRO */
.msgErro, .msgErro1 {
    color: rgb(150, 28, 28);
    margin-top: 20px;
}

/* ============================================= */
/* CONTAINER DOS FILMES */
.gradeFilmes {
    display: grid;
    /* Cria colunas automáticas que se ajustam ao tamanho da tela */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 50px; /* Espaçamento entre os cards */
    padding: 40px;
    width: 95%;
    margin: 0 auto;
    justify-items: center; /* Centraliza os cards dentro das colunas */
}
.cardFilme {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease; /* Efeito de zoom suave */
    cursor: pointer;
}
.posterFilme {
    width: 100%;
    height: 380px; 
    text-decoration: none;
  
    object-fit: cover; 
    object-position: center;
    
    border-radius: 8px; 
    border: 2px solid #333; /* Borda padrão escura */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); 
    transition: border-color 0.3s ease;
}
.cardFilme:hover .posterFilme {
    border-color: #F0AD12; /* Cor Amarela ao colocar o mouse na imagem */
}
.cardFilme:hover {
    transform: scale(1.05); /* Efeito de Zoom ao passar o mouse */
}

/* ============================================= */
/* INFORMAÇÃO DO FILME */
.cardFilme a {
    text-decoration: none;
}
.tituloFilme {
    font-size: 14px;
    display: -webkit-box; /* Evita que títulos muito longos quebrem o layout */
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.titulo-secao {
    color: white;
    font-size: 2.5rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .search-box {
        position: relative;
        top: auto;
        z-index: auto;
        margin: 0;
        border-radius: 0;
    }
    #inputBuscar {
        width: calc(100% - 40px); 
    }
    input:-ms-input-placeholder{
        font-size: 30px;
    }
    .menu{
        border: 0; /* Remove a borda preta do menu no mobile */
    }
    .tituloPag{
        margin-top: 25px;
        font-size: 40px;
    }

    /* ============================================= */
    /* CONTAINER DOS FILMES */
    .gradeFilmes {
        padding: 0;
        gap: 20px;
        margin: 20px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    }
    .cardFilme {
        width: calc(50% - 20px); /* Deixa 2 filmes por linha no celular */
        min-width: 140px;
    }
    .tituloFilme{
        font-size: 25px;
    }
    .posterFilme {
        width: 100%;
        height: 300px; 
    }
}

/* ============================================= */
/* RESPONSIVIDADE PARA O CELULAR */
@media (max-width: 480px) {
    /* BARRA DE PESQUISA */
    .menu{
        border: 0; /* Remove a borda preta do menu no mobile */
    }
    
    /* ============================================= */
    /* CONTAINER DOS FILMES */
    .cardFilme {
        width: 100%; /* Deixa 1 filme por linha em telas muito pequenas */
    }
}
