/* INDICATIVO DA PÁGINA ATUAL NA BARRA DE NAVEGAÇÃO NO DESKTOP */
.btn-entrar{
    text-shadow: 0 0 10px #f1c764;
}


/* UTILIDADES */
.lembre_de_mim {
    display: flex;
    align-items: center;
    gap: 8px;
}
.qual_minha_senha {
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

/* ============================================= */
/* RESPONSIVIDADE PARA O CELULAR */
@media (max-width: 768px) {
    /* INDICATIVO DA PÁGINA ATUAL NA BARRA DE NAVEGAÇÃO NO MOBILE */
    .btn-entrar{
        display: block;
        max-width: 100%;
        border-bottom: 0;
        border-radius: 0;
        text-shadow: none !important;
        background-color: rgb(114, 23, 23);
    }

    /* ============================================= */
    /* DIV DO LOGIN */
    .caixaLogin{
        margin: 0 30px 10px 30px;
    }

    /* CAIXAS DE TEXTO (input) */
    .login_senha_caixas input{
        font-size: 30px;
        margin-bottom: 10px;
        height: 80px;
    }

    /* BOTÃO DE LOGIN */
    .btn-login{
        font-size: 30px;
        padding: 10px;
        margin-bottom: 20px;
    }

    /* UTILIDADES */
    .utilidades{
        flex-wrap: wrap;
        display:grid;
        justify-content: center;
        align-items: center;
    }
    .lembre_de_mim, .Qual_minha_senha{
        font-size: 25px;
        margin-bottom: 30px;
    }

}