* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    color:white;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgb(150, 28, 28);
    padding: 10px 40px;
    gap: 100px;
}

.menu-links {
    list-style: none; /* remove as bolinhas da lista */
    display: flex;
    gap: 30px;
}

.menu-links a {
    color: #F0AD12;
    text-decoration: none; /* para limpar a letra*/
    font-size: 30px;
    font-weight: 500;
    padding: 8px 12px;
    transition: all 0.3s ease; /* só pra melhorar o efeito do hover */
}

.menu-links a:hover, .menu-login a:hover{
    color: #4da6ff;
}

.menu-login {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.menu-login a {
    color: #F0AD12;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.banner-carrossel {
    position: relative;
    width: 100%;
    height: 90vh; /* ocupa 60% da altura da tela */
    min-height: 550px;
    background-color: #111;
    overflow: hidden;
}

.slides-carrossel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.slide.ativo {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.info-filme {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 60px;
    color: #fff;
    z-index: 2;
}

.info-filme h3 {
    font-size: 40px;
    color: #F0AD12;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.info-filme p {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

/* 7. As Setas de Navegação */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 10; /* Fica acima de tudo */
    transition: background-color 0.3s;
}

.seta:hover {
    background-color: #F0AD12;
    color: #111;
}

.seta-esquerda {
    left: 20px;
}

.seta-direita {
    right: 20px;
}

