<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/miniLogo.png" type="image/x-icon">
    <title>Nouvelle - Cadastro</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/loginCadastro.css">
</head>
<body>
    <nav class="menu">
        <a href="/">
            <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">
        </a>

        <input type="checkbox" id="menu-burguer">
        <label for="menu-burguer" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="menu-links">
            <li><a class="menuInicio" href="/">Início</a></li>
            <li><a class="menuFilmesCartaz" href="/filmesCartaz">Filmes em Cartaz</a></li>      
            <li><a class="menuEmBreve" href="/emBreve">Em Breve</a></li> 
        </ul>
        
        <ul class="menu-login">
            {% if request.cookies.get('usuario_nome') %}
                <li class="item-perfil-nav">
                    <a id="menuPerfil" href="/perfil" >
                        Olá, {{ request.cookies.get('usuario_nome').split()[0] }}
                        <img src="/{{ request.cookies.get('usuario_caminho_final') }}" alt="Foto" class="foto-nav-mini">
                    </a>
                </li>
                <li><a id="menuLogout" href="/logout" class="btn-entrar">Sair</a></li>
            {% else %}
                <li><a href="/login" class="btn-entrar">Entrar</a></li>
                <li><a href="/cadastro" class="btn-cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="divCadastro">
        <div id="divLeft">
            <div class="tamanho_logo">
                <img src="assets/logo.png" alt="Logo Nouvelle">
            
                {% if mensagem %}
                    <h2 class="mensagem_erro">
                        {{ mensagem }}
                    </h2>
                {% endif %}
            </div>
        </div>
        
        <div id="divRight"> 
            <form action="/cadastrar" method="POST" id="formCadastro" enctype="multipart/form-data">
                
                <h1 class="tituloPagina">PÁGINA DE CADASTRO</h1>

                <div class="divFotoPerfil">
                    <div id="container-preview">
                        <img id="preview-img" src="/assets/fotoPerfilDefault.png" alt="Foto de Perfil">
                    </div>
                    <div id="container-btnImg">
                        <h4>FOTO DE PERFIL:</h4>
                        <p id="nomeArquivo"></p>
                        <label for="btnAddFoto" class="botao-upload">Selecionar Imagem</label>
                        <input type="file" name="foto_perfil" id="btnAddFoto" class="selecionarImagemPerfil" accept="image/*">
                    </div>
                </div>
                
                <div class="login_senha_caixas"> 
                    <h4>CPF:</h4>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF (000.000.000-00)" maxlength="14" required>
                    <small id="erroCpf" style="color: #F0AD12; display: none; font-weight: bold;">CPF inválido!</small>
                </div>
                
                <div class="login_senha_caixas">
                    <h4>NOME COMPLETO:</h4> 
                    <input type="text" name="nome" id="Nome" placeholder="Nome completo" required>
                </div>
                
                <div class="login_senha_caixas">
                    <h4>E-MAIL:</h4> 
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="login_senha_caixas">
                    <h4>TELEFONE:</h4> 
                    <input type="text" name="telefone" id="telefone" placeholder="Telefone (DD) 90000-0000" maxlength="15" required>
                    <small id="erroTelefone" style="color: #F0AD12; display: none; font-weight: bold;">Telefone inválido!</small>
                </div>
                
                <div class="login_senha_caixas">
                    <h4>DATA DE NASCIMENTO:</h4> 
                    <input type="date" name="data_nasc" id="data_nasc" style="color: #999;" required>
                </div>
                
                <div class="login_senha_caixas">
                    <h4>SENHA:</h4> 
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>
                
                <button type="submit" class="btn-login">Finalizar Cadastro</button>

                <div class="utilidades"> 
                    <a href="/login" class="link_login">Já tem uma conta? Faça login</a>
                </div>

            </form>
        </div>
    </div>

<script src="/js/cadastro.js"></script>
</body>
</html>