<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/miniLogo.png" type="image/x-icon">
    <title>Nouvelle - {{ filme.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/detalhes.css">
</head>
<body>
    <nav class="menu">
        <a href="/">
            <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">
        </a>

        <input type="checkbox" id="menu-burguer">
        <label for="menu-burguer" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="menu-links">
            <li><a class="menuInicio" href="/">Início</a></li>
            <li><a class="menuFilmesCartaz" href="/filmesCartaz">Filmes em Cartaz</a></li>      
            <li><a class="menuEmBreve" href="/emBreve">Em Breve</a></li> 
        </ul>
        <ul class="menu-login">
            {% if request.cookies.get('usuario_nome') %}
                <li><a id="menuPerfil" href="/perfil" >Olá, {{ request.cookies.get('usuario_nome').split()[0] }}</a></li>
                <li><a id="menuLogout" href="/logout" class="btn-entrar">Sair</a></li>
            {% else %}
                <li><a id="menuLogin" href="/login" class="btn-entrar">Entrar</a></li>
                <li><a id="menuCadastro" href="/cadastro" class="btn-cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <header id="banner-filme-detalhe" class="banner-detalhe" style="background-image: url('https://image.tmdb.org/t/p/original{{ filme.backdrop_path }}');">
        <div class="banner-overlay"></div>
    </header>
    
    <main class="detalhes-main">
        <div class="detalhes-wrapper">
            
            <div class="poster-filme">
                <img src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}" alt="{{ filme.title }}">
            </div>

            <div class="info-texto">
                <h1 class="titulo-destaque">{{ filme.title }}</h1>
                <!-- Exibe a tagline do filme, se existir -->
                <p class="tagline"><i>{{ filme.tagline }}</i></p>

                <div class="metadados">
                    {% if filme.vote_average > 0 %}
                        <span>⭐ {{ filme.vote_average }}</span><br>
                    {% endif %}

                    <span>📅 {{ filme.release_date | data_pt }}</span><br>
                    <span>⏱️ {{ filme.runtime | tempo_h }}</span>
                </div>

                <div class="generos-area">
                    <h3>Gêneros</h3>
                    <ul class="lista-generos">
                        {% for genero in filme.genres %}
                            <li>{{ genero.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="sinopse-area">
                    <h3>Sinopse</h3>
                    <p>{{ filme.overview }}</p>
                </div>

                {% if pode_comprar %}
                    {% if request.cookies.get('usuario_cpf') %}
                        <a href="/assentos" class="btn-comprar">Comprar Ingresso</a>
                    {% else %}
                        <a href="/login" class="btn-comprar" style="background-color: #555;">Faça login para comprar</a>
                    {% endif %}
                {% else %}
                    <button class="btn-comprar desativado" disabled>Em Breve nos Cinemas</button>
                {% endif %}

            </div>
        </div>
    </main>

    <script src="/js/detalhes.js"></script>
</body>
</html>