<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/miniLogo.png" type="image/x-icon">
    <title>Nouvelle - Em Breve</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/emBreve.css">
</head>
<body>
    <nav class="menu">
        <a href="/">
            <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">
        </a>

        <input type="checkbox" id="menu-burguer">
        <label for="menu-burguer" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="menu-links">
            <li><a class="menuInicio" href="/">Início</a></li>
            <li><a class="menuFilmesCartaz" href="/filmesCartaz">Filmes em Cartaz</a></li>      
            <li><a class="menuEmBreve" href="/emBreve">Em Breve</a></li> 
        </ul>
        <ul class="menu-login">
            {% if request.cookies.get('usuario_nome') %}
                <li><a id="menuPerfil" href="/perfil" >Olá, {{ request.cookies.get('usuario_nome').split()[0] }}</a></li>
                <li><a id="menuLogout" href="/logout" class="btn-entrar">Sair</a></li>
            {% else %}
                <li><a id="menuLogin" href="/login" class="btn-entrar">Entrar</a></li>
                <li><a id="menuCadastro" href="/cadastro" class="btn-cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="conteudo-principal">
        <h2 style="color: white; text-align: center; margin-top: 30px; font-size: 2rem;">Em Breve</h2>
        
        <div class="gradeFilmes" id="corpoTabela">
            {% for filme in filmes %}
            <div class="cardFilme">
                <a href="/detalhes/{{ filme.id }}">
                    <img class="posterFilme" 
                        src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}" 
                        alt="{{ filme.title }}">
                    <strong class="tituloFilme">{{ filme.title }}</strong>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="/js/emBreve.js"></script>
</body>
</html>