<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/filmesCartaz.css"> 
    <title>Filmes em Cartaz</title>
</head>
<body>
  <nav class = "menu">
    <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">

    <ul class="menu-links">
      <li><a href="/">Início</a></li>
      <li><a href="/filmesCartaz.html">Filmes em Cartaz</a></li>
      <li><a href="/emBreve">Em Breve</a></li> 
    </ul>
    <ul class="menu-login">
      <li><a href="/login" class="btn-entrar">Entrar</a></li>
      <li><a href="/cadastro" class="btn-cadastrar">Cadastrar</a></li>
    </ul>
  </nav>

  <center>
    <!-- Caixa de Pesquisa -->
    <div class="search-box">
      <input type="text" id="inputBuscar" placeholder="Buscar..">
      <button id="btnBuscar">🔍︎</button>
      <!-- LUPA EM TXT => "https://www.emojiall.com/pt/code/1F50D-FE0E" -->
    </div>

    <div class="gradeFilmes" id="corpoTabela">
      {% for filme in filmes %}
      <div class="cardFilme">
        <img class="posterFilme" src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}" alt="{{ filme.title }}">
        <strong class="tituloFilme">{{ filme.title }}</strong>
      </div>
      {% endfor %}
    </div>
    
  </center>

  <script src="/js/filmesCartaz.js"></script>
</body>
</html>