<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/filmesCartaz.css">
    <title>Filmes em Cartaz</title>
</head>
<body>
  <nav class = "menu">
    <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">

    <ul class="menu-links">
      <li><a href="./index.html">Início</a></li>
      <li><a href="./">Filmes em Cartaz</a></li>
      <li><a href="./">Em Breve</a></li> 
    </ul>
    <ul class="menu-login">
      <li><a href="./" class="btn-entrar">Entrar</a></li>
      <li><a href="./" class="btn-cadastrar">Cadastrar</a></li>
    </ul>
  </nav>

  <center>
    <table class="tabelaFilmes">
      <tbody id="corpoTabela"></tbody>
    </table>
  </center>
  
  <script src="/js/filmesCartaz.js"></script>
</body>
</html>