<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/miniLogo.png" type="image/x-icon">
    <title>Nouvelle - Login</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/css/loginCadastro.css">
</head>
<body>
    <nav class="menu">
        <a href="/">
            <img src="/assets/logo.png" alt="Nouvelle" width="200" height="100">
        </a>

        <input type="checkbox" id="menu-burguer">
        <label for="menu-burguer" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="menu-links">
            <li><a class="menuInicio" href="/">Início</a></li>
            <li><a class="menuFilmesCartaz" href="/filmesCartaz">Filmes em Cartaz</a></li>      
            <li><a class="menuEmBreve" href="/emBreve">Em Breve</a></li> 
        </ul>
        <ul class="menu-login">
            {% if request.cookies.get('usuario_nome') %}
                {% if request.cookies.get('usuario_permissao') == 'ADMINISTRADOR' %}
                    <li><a href="/admin" class="btn-admin">Painel Admin</a></li>
                {% endif %}
                
                <li class="item-perfil-nav">
                    <a id="menuPerfil" href="/perfil" >
                        Olá, {{ request.cookies.get('usuario_nome').split()[0] }}
                        <img src="/{{ request.cookies.get('usuario_caminho_final') }}" alt="Foto" class="foto-nav-mini">
                    </a>
                </li>
                <li><a id="menuLogout" href="/logout" class="btn-entrar">Sair</a></li>
            {% else %}
                <li><a href="/login" class="btn-entrar">Entrar</a></li>
                <li><a href="/cadastro" class="btn-cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="divLogin">
        <div id="divLeft">
            <div class="tamanho_logo">
                <img src="assets/logo.png" alt="Logo Nouvelle">

                {% if mensagem %}
                    <p class="mensagem_erro">
                        {{ mensagem }}
                    </p>
                {% endif %}
            </div>

        </div>

        <div id="divRight">
            <form action="/login" method="POST" id="formLogin">
                
                <h1 class="tituloPagina">PÁGINA DE LOGIN</h1>

                <div class="login_senha_caixas">
                    <h4>E-MAIL:</h4>
                    <input type="email" name="email" placeholder="E-mail" required>
                </div>
                <div class="login_senha_caixas">
                    <h4>SENHA:</h4>
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>

                <button type="submit" class="btn-login">Entrar</button>


                <div class="utilidades">
                    <div class="lembre_de_mim">
                        <input type="checkbox" id="remember">
                        <label for="remember">Lembre-se de mim</label>
                    </div>
                    <a href="#" class="qual_minha_senha">Esqueceu sua senha?</a>
                </div>
            </form> 
        </div>
    </div>
    
</body>
</html>